/* Layout Layer - Lists, tables, and structural elements */
@layer layout {
  body {
    /* ========== */
    /* LISTS */
    ol {
      list-style-type: decimal-leading-zero;

      li::marker {
        font-size: 0.75rem;
        font-family: monospace;
      }
    }

    /* ========== */
    /* TABLES */
    --table-background: rgba(var(--purple-rgb), 0.1);
    --table-border-color: var(--yellow);

    .markdown-rendered td:last-child .table-cell-wrapper,
    .markdown-rendered th:last-child .table-cell-wrapper,
    .markdown-rendered th:first-child .table-cell-wrapper,
    .markdown-rendered td:first-child .table-cell-wrapper,
    .markdown-rendered td:last-child,
    .markdown-rendered th:last-child,
    .markdown-rendered td,
    .markdown-rendered th,
    .markdown-rendered td:first-child,
    .markdown-rendered th:first-child {
      padding: var(--size-4-2);
    }

    .markdown-rendered td:first-child,
    .markdown-rendered th:first-child {
      padding-left: var(--size-4-2);
    }

    table {
      border-radius: var(--size-4-2);
      overflow: hidden;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
